/* ---------------------     ABOUT --------------------------*/
li .links_header3{
	text-decoration:none;
	background-color:white;
	color:red;
	margin:32px 0px;
	padding:10px 50px 10px 50px;
	font-family:consolas;
	font-size:20px;
	border-style:solid;
	border-color:white;

} 
li .links_header3:hover{
	text-decoration:none;
	background-color:white;
	color:blue;
	margin:32px 20px;
	padding:10px 30px 10px 30px;
	font-family:consolas;
	font-size:20px;
	border-style:solid;
	border-color:black;
	border-radius:10px;
	border-width:1px;
} 
fieldset{
	margin:10px 50px;
	font-family:consolas;
	font-size:17px;
	background-color:red;
	color:white;
	border-style:none;
}
h4{
	margin:10px 50px;
	font-family:consolas;
	font-size:17px;

	color:black;
	border-style:none;
}