/* ---------------------     HOME --------------------------*/
/* header */
.svg{
	margin:10px 50px 10px 50px;
}
.marquee{
	color:black;
	font-family:consolas;
	font-weight:28px;
	background-color:white;
	padding-bottom:10px;
	padding-top:10px;
	font-size:18px;
	margin-top:10px;
	
	border-width:1.05px;
	border-style:solid;
	margin:0px 20px;
	display:block;
	/* animation-name:colorchange; */
			/* animation-duration:5s; */
			/* animation-iteration-count:infinite; */
			/* animation-direction:reverse; */
			/* animation-delay:2s; */
			/* animation-timing-function:ease; */
}

header nav ul li{
	display:inline;
	color:white;
   
 
}
li .links_header{
	text-decoration:none;
	background-color:white;
	color:black;
	margin:32px 0px;
	padding:10px 50px 10px 50px;
	font-family:consolas;
	font-size:20px;
	border-style:solid;
	border-color:white;

} 
li .links_header:hover{
	text-decoration:none;
	background-color:white;
	color:blue;
	margin:32px 20px;
	padding:10px 30px 10px 30px;
	font-family:consolas;
	font-size:20px;
	border-style:solid;
	border-color:black;
		border-radius:10px;
	border-width:1px;
} 
li .link0_header{
	text-decoration:none;
	background-color:white;
	color:red;
	margin:32px 0px;
	padding:10px 50px 10px 50px;
	font-family:consolas;
	font-size:20px;
	border-style:solid;
	border-color:white;
} 
li .link0_header:hover{
	text-decoration:none;
	background-color:white;
	color:blue;
	margin:32px 20px;
	padding:10px 30px 10px 30px;
	font-family:consolas;
	font-size:20px;
	border-style:solid;
	border-color:black;
	border-radius:10px;
	border-width:1px;
} 
 @keyframes colorchange{ 
			 0% {background-color:black;} 
			 10% {background-color:brown;} 
			 20% {background-color:blue;}
			  30% {background-color:darkviolet;} 
			  40% {background-color:darkorange;} 
			  50% {background-color:grey;}
			  60% {background-color:purple;}
			  70% {background-color:white; color:black;}
			  800% {background-color:pink;}
			  90% {background-color:red;}
			  100% {background-color:green;}
			 }  


