/* ---------------------     SERACH AN EXPLOIT --------------------------*/
/* header */
li .links_header1{
	text-decoration:none;
	background-color:white;
	color:red;
	margin:32px 0px;
	padding:10px 50px 10px 50px;
	font-family:consolas;
	font-size:20px;
	border-style:solid;
	border-color:white;

} 
li .links_header1:hover{
	text-decoration:none;
	background-color:white;
	color:blue;
	margin:32px 20px;
	padding:10px 30px 10px 30px;
	font-family:consolas;
	font-size:20px;
	border-style:solid;
	border-color:black;
	border-radius:10px;
	border-width:1px;
} 

/* section */


@keyframes colorchange{ 
			 0% {background-color:black;} 
			 50% {background-color:brown;} 
			 70% {background-color:blue;}
			  80% {background-color:darkviolet;} 
			  90% {background-color:darkorange;} 
			  100% {background-color:grey;}
			 } 
		 
#SAFI{
	background-color:blue;
	width:190px;
	height:150px;
	font-family:arial;
	font-size:x-large;
	color:white;
	border-radius:5px;
	padding-top:50px;
	text-align:center;
	animation-name:colorchange;
			animation-duration:1s;
			animation-iteration-count:infinite;
			animation-direction:reverse;
			animation-delay:1s;
			animation-timing-function:ease;
}
#RABAT{
	background-color:green;
	width:190px;
	height:150px;
	font-family:arial;
	font-size:x-large;
	color:white;
	border-radius:5px;
	padding-top:50px;
	text-align:center;
	animation-name:colorchange;
	animation-duration:3s;
			animation-iteration-count:infinite;
			animation-direction:reverse;
			animation-delay:1s;
			animation-timing-function:ease;
}
#MARRAKECHE{
	background-color:red;
	width:190px;
	height:150px;
	font-family:arial;
	font-size:x-large;
	color:white;
	border-radius:5px;
	padding-top:50px;
	text-align:center;
	animation-duration:4s;
	animation-name:colorchange;
			animation-iteration-count:infinite;
			animation-direction:reverse;
			animation-delay:1s;
			animation-timing-function:ease;
}
#MOHAMMEDIA{
	background-color:pink;
	width:190px;
	height:150px;
	font-family:arial;
	font-size:x-large;
	color:white;
	border-radius:5px;
	padding-top:50px;
	text-align:center;
	animation-name:colorchange;
	animation-duration:5s;
			animation-iteration-count:infinite;
			animation-direction:reverse;
			animation-delay:1s;
			animation-timing-function:ease;
}
#CASABLANCA{
	background-color:black;
	width:190px;
	height:150px;
	font-family:arial;
	font-size:x-large;
	color:white;
	border-radius:5px;
	padding-top:50px;
	text-align:center;
	animation-name:colorchange;
	animation-duration:6s;
			animation-iteration-count:infinite;
			animation-direction:reverse;
			animation-delay:1s;
			animation-timing-function:ease;
}
#DAKHLA{
	background-color:orange;
	width:190px;
	height:150px;
	font-family:arial;
	font-size:x-large;
	color:white;
	border-radius:5px;
	padding-top:50px;
	text-align:center;
	animation-name:colorchange;
	animation-duration:7s;
			animation-iteration-count:infinite;
			animation-direction:reverse;
			animation-delay:1s;
			animation-timing-function:ease;
}
#ESSAOUIRA{
	background-color:brown;
	width:190px;
	height:150px;
	font-family:arial;
	font-size:x-large;
	color:white;
	border-radius:5px;
	padding-top:50px;
	text-align:center;
	animation-name:colorchange;
	animation-duration:8s;
			animation-iteration-count:infinite;
			animation-direction:reverse;
			animation-delay:1s;
			animation-timing-function:ease;
}
#AGADIR{
	background-color:grey;
	width:190px;
	height:150px;
	font-family:arial;
	font-size:x-large;
	color:white;
	border-radius:5px;
	padding-top:50px;
	text-align:center;
	animation-name:colorchange;
	animation-duration:9s;
			animation-iteration-count:infinite;
			animation-direction:reverse;
			animation-delay:1s;
			animation-timing-function:ease;
}
section div{
	float:left;
	margin-right:15px;
	margin-left:15px;
	margin-top:20px;
	margin-bottom:10px;
	font-family:consolas;
}