body{
	margin:0;
	padding:0;
	font-family:arial;
}
@keyframes bganimation{
	0%{
		background-position:0% 50%;
	}
	50%{
		background-position:0% 50%;
	}
	100%{
		background-position:0% 50%;
	}
}
.navbar {
   overflow: hidden;
  background-color: #333;
 
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  
}
.navbar p {
 float:left;
 padding-left:10px;
 color:white;
 margin-right:300px;

 
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}
.head{
	margin-top:0;
	padding-top:40px;
	padding-left:30px;
	text-align:center-left;
	height:270px;
	background-image:url("mar.png");
	background-position:center;
	color:white;
}
footer{
	margin:0;
	padding:0;
	font-family:arial;
	text-align:center;
	background-color:grey;
	padding:10px;
	color:white;
}
footer .fb{
	margin:0;
	padding:0;
	margin-right:5px;
	font-family:arial;
	text-align:center;
	background-color:blue;
	padding:10px;
	color:white;
	margin-top:5px;
}
footer .ins{
	margin:0;
	padding:0;
	margin-right:5px;
	font-family:arial;
	text-align:center;
	background-color:violet;
	padding:10px;
	color:white;
	margin-top:5px;
}

footer .git{
	margin:0;
	padding:0;
	margin-right:5px;
	font-family:arial;
	text-align:center;
	background-color:black;
	padding:10px;
	color:white;
	margin-top:5px;
}

.git:hover{
	background-color:white;
	color:black
}
.ins:hover{
	background-color:white;
	color:black
}
.fb:hover{
	background-color:white;
	color:black
}